<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tobacco Curing Process Logs</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/aboutus.css') }}">
</head>
<body>
    <header>
    <div class="wrapper">
        <div class="logo">
            <img src="https://i.postimg.cc/Fz73rFCv/groupsapdanddevops.png" alt="">
        </div>
<ul class="nav-area">
<li><a href="/home">HOME</a></li>
<li><a href="#">LOGS</a></li>
<li><a href="/about">ABOUT US</a></li>
</ul>
</div>
<div class="about">
            <br>
            <img src="https://i.postimg.cc/25TxB34W/JG.png" alt="" class="center">
            <p align="center" class="aboutus">
            <br>
            <strong>Johnmar Gabriel Concepcion<br></strong>
            Bachelor of Science in Computer Engineering<br>
            Intelligent System<br>
            Technological Institute of the Philippines - Quezon City <br>
            <a class="u-email" href="mailto:qjgqconcepcion@tip.edu.ph" style="color:#87CEEB">qjgqconcepcion@tip.edu.ph</a>
            </p>
            <br>
            <br>
            <br>
            <img src="https://i.postimg.cc/sgm3CXD0/GG.png" alt="" class="center">
            <p align="center" class="aboutus">
            <br>
            <strong>Glen John Gerandoy<br></strong>
            Bachelor of Science in Computer Engineering<br>
            Systems Administrator<br>
            Technological Institute of the Philippines - Quezon City <br>
            <a class="u-email" href="mailto:qgegerandoy@tip.edu.ph" style="color:#87CEEB">qgegerandoy@tip.edu.ph</a>
            </p>
            <br>
            <br>
            <br>
            <img src="https://i.postimg.cc/kM0Z1m96/lamzon.png" alt="" class="center">
            <p align="center" class="aboutus">
            <br>
            <strong>John David Lamzon<br></strong>
            Bachelor of Science in Computer Engineering<br>
            Systems Administrator<br>
            Technological Institute of the Philippines - Quezon City <br>
            <a class="u-email" href="mailto:qjdalamzon@tip.edu.ph" style="color:#87CEEB">qjdalamzon@tip.edu.ph</a>
            </p>
            <br>
            <br>
            <br>
            <img src="https://i.postimg.cc/Tw8g8CP9/SL.png" alt="" class="center">
            <p align="center" class="aboutus">
            <br>
            <strong>Samuel Lacanilao<br></strong>
            Bachelor of Science in Computer Engineering<br>
            Systems Administrator<br>
            Technological Institute of the Philippines - Quezon City <br>
            <a class="u-email" href="mailto:qsmlacanilao@tip.edu.ph" style="color:#87CEEB">qsmlacanilao@tip.edu.ph</a>
            </p>
            <br>
            <br>
    </header>

</body>
</html>
