<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tobacco Curing Process Logs</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
    <div class="wrapper">
        <div class="logo">
            <img src="https://i.postimg.cc/Fz73rFCv/groupsapdanddevops.png" alt="">
        </div>
<ul class="nav-area">
<li><a href="/home">HOME</a></li>
<li><a href="#">CURING NOW</a></li>
<li><a href="#">LOGS</a></li>
<li><a href="/about">ABOUT US</a></li>
<li><a href="/login">LOGOUT</a></li>
</ul>
</div>
<div class="welcome-text">
        <h1>
TOBACCO CURING PROCESS <span>LOGS</span></h1>
<a href="/about">Contact US</a>
<br>
<br>
<br>
<div class="description">
<p>A vision based solution will be utilized in order to classify the current stage of the flue curing process. This
would eliminate the subjective method done by farmers in classifying the stage of the flue curing process.
Also, a zero emission heating methodology will be employed to the system as a solution for the excessive
CO2 emission made by the current method done by the farmers.
</p>
</div>
</div>
    
</header>
    

</body>
</html>
