<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tobacco Curing Process Logs</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <header>
      <div class="wrapper">
      <div class="logo-login">
          <img src="https://i.postimg.cc/t4NR9wt5/ekoms.png" width="400" height="290" alt="">
      </div>
<div class="welcome-text">
        <h1>
WELCOME TO TOBACCO CURING <span>LOGS</span></h1>
<a href="/login">PROCEED</a>
      